<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.ClassroomPicMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.ClassroomPic">
		<id column="CLPI001" property="clpi001" />
		<result column="CLPI002" property="clpi002" />
		<result column="CLPI003" property="clpi003" />
		<result column="CLPI004" property="clpi004" />
	</resultMap>

</mapper>
