<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.ExamTExermessageMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.ExamTExermessage">
		<id column="EMES001" property="emes001" />
		<result column="EMES002" property="emes002" />
		<result column="EMES003" property="emes003" />
		<result column="EMES004" property="emes004" />
		<result column="EMES005" property="emes005" />
		<result column="EMES006" property="emes006" />
	</resultMap>

</mapper>
