<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.ExamTTestarchiveuserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.ExamTTestarchiveuser">
		<id column="TAUS001" property="taus001" />
		<result column="TAUS002" property="taus002" />
		<result column="TAUS003" property="taus003" />
		<result column="TAUS004" property="taus004" />
	</resultMap>

</mapper>
