<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.ExamTExersubjectMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.ExamTExersubject">
		<id column="EXSU001" property="exsu001" />
		<result column="EXSU002" property="exsu002" />
		<result column="EXSU003" property="exsu003" />
	</resultMap>

</mapper>
