<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.ExamTTopicshareMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.ExamTTopicshare">
		<id column="TOSH001" property="tosh001" />
		<result column="TOSH002" property="tosh002" />
		<result column="TOSH003" property="tosh003" />
		<result column="TOSH004" property="tosh004" />
	</resultMap>

</mapper>
