<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.ExamTExergradeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.ExamTExergrade">
		<id column="EXGR001" property="exgr001" />
		<result column="EXGR002" property="exgr002" />
		<result column="EXGR003" property="exgr003" />
		<result column="EXGR004" property="exgr004" />
		<result column="EXGR005" property="exgr005" />
		<result column="EXGR006" property="exgr006" />
		<result column="EXGR007" property="exgr007" />
	</resultMap>

	<update id="updateExergradeById" parameterType="java.lang.String">
		UPDATE EXAM_T_EXERGRADE
		   SET EXGR007 = 2
		 WHERE EXGR001 =
		       (SELECT EXSA003 FROM EXAM_T_EXERSAMPLE WHERE EXSA001 = #{exsa001})
	</update>
</mapper>
