<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.HrswTGrouppoolMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.HrswTGrouppool">
		<id column="GRPO001" property="grpo001" />
		<result column="GRPO002" property="grpo002" />
		<result column="GRPO003" property="grpo003" />
		<result column="GRPO004" property="grpo004" />
		<result column="GRPO005" property="grpo005" />
		<result column="GRPO006" property="grpo006" />
	</resultMap>

</mapper>
