<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.HrswTJobrightsassigchildMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.HrswTJobrightsassigchild">
		<result column="JRAC001" property="jrac001" />
		<result column="JRAC002" property="jrac002" />
		<result column="JRAC003" property="jrac003" />
		<result column="JRAC004" property="jrac004" />
	</resultMap>
	
	<select id="selectPrincipal" parameterType="java.util.Map" resultType="java.util.Map">
	    <![CDATA[
			SELECT A.JRAC004,B.USER005 FROM HRSW_T_JOBRIGHTSASSIGCHILD A
			LEFT JOIN HRSW_T_USER B ON A.JRAC004 = B.USER001
			 WHERE A.JRAC003 = #{orga001}    
	  	]]>
	</select>
	
	<select id="selectSupervisor" parameterType="java.util.Map" resultType="java.util.Map">
	    <![CDATA[
			SELECT B.JRAT003,C.USER005 FROM HRSW_T_JOBRIGHTSASSIGCHILD A
			inner JOIN HRSW_T_JOBRIGHTSASSIGNMENT B ON A.JRAC002 = B.JRAT001
			inner JOIN HRSW_T_USER C ON B.JRAT003 = C.USER001
			 WHERE A.JRAC003 = #{orga001}     
	  	]]>
	</select>
	
	<select id="selectOrganType" parameterType="java.util.Map" resultType="java.util.Map">
	    <![CDATA[
			SELECT ORGA007 FROM HRSW_T_ORGAN WHERE ORGA001 = #{orga001}     
	  	]]>
	</select>

</mapper>
