<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.HrswTDocumentaryreportchildMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.HrswTDocumentaryreportchild">
		<result column="DORC001" property="dorc001" />
		<result column="DORC002" property="dorc002" />
		<result column="DORC003" property="dorc003" />
		<result column="DORC004" property="dorc004" />
	</resultMap>

</mapper>
