<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.HrswTPasswordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.HrswTPassword">
		<id column="PASS001" property="pass001" />
		<result column="PASS002" property="pass002" />
		<result column="PASS003" property="pass003" />
		<result column="PASS004" property="pass004" />
		<result column="PASS005" property="pass005" />
		<result column="PASS006" property="pass006" />
		<result column="PASS007" property="pass007" />
	</resultMap>

<!-- 修改密码 -->
<insert id="insertOrUpdate" parameterType="com.huarui.product2020.entity.HrswTPassword">
		<![CDATA[ 
		   MERGE INTO HRSW_T_PASSWORD A
		    USING (SELECT 1 FROM DUAL)
			ON (A.PASS002 = #{pass002} )
			WHEN MATCHED THEN
		    UPDATE SET A.PASS003 =#{pass003},  A.PASS005 = #{pass005}, A.PASS007 = sysdate
			WHEN NOT MATCHED THEN
		  	INSERT
		    (pass001, pass002, pass003, pass005, pass006,pass007)
		  	VALUES
		    (#{pass001}, #{pass002}, #{pass003}, #{pass005}, sysdate,sysdate)
		 ]]>
	</insert>

</mapper>
