<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.HrswTSigninpictureMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.HrswTSigninpicture">
		<id column="SIPI001" property="sipi001" />
		<result column="SIPI002" property="sipi002" />
		<result column="SIPI003" property="sipi003" />
	</resultMap>

</mapper>
