<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.HrswTDatadomainMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.HrswTDatadomain">
		<id column="DDOM001" property="ddom001" />
		<result column="DDOM002" property="ddom002" />
		<result column="DDOM003" property="ddom003" />
	</resultMap>

</mapper>
