<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.HrswTDutylabelrelationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.HrswTDutylabelrelation">
		<id column="DLRE001" property="dlre001" />
		<result column="DLRE002" property="dlre002" />
		<result column="DLRE003" property="dlre003" />
	</resultMap>

</mapper>
