<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.HrswTCwtagMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.HrswTCwtag">
		<id column="CWTA001" property="cwta001" />
		<result column="CWTA002" property="cwta002" />
		<result column="CWTA003" property="cwta003" />
	</resultMap>

</mapper>
