<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.HrTCredentialtemplateMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.HrTCredentialtemplate">
		<id column="CRTE001" property="crte001" />
		<result column="CRTE002" property="crte002" />
		<result column="CRTE003" property="crte003" />
		<result column="CRTE004" property="crte004" />
		<result column="CRTE005" property="crte005" />
		<result column="CRTE006" property="crte006" />
		<result column="CRTE007" property="crte007" />
		<result column="CRTE008" property="crte008" />
		<result column="CRTE009" property="crte009" />
		<result column="CRTE010" property="crte010" />
		<result column="CRTE011" property="crte011" />
		<result column="CRTE012" property="crte012" />
		<result column="CRTE013" property="crte013" />
		<result column="CRTE014" property="crte014" />
		<result column="CRTE015" property="crte015" />
		<result column="CRTE016" property="crte016" />
		<result column="CRTE017" property="crte017" />
		<result column="CRTE018" property="crte018" />
		<result column="CRTE019" property="crte019" />
		<result column="CRTE020" property="crte020" />
		<result column="CRTE021" property="crte021" />
		<result column="CRTE022" property="crte022" />
		<result column="CRTE023" property="crte023" />
		<result column="CRTE024" property="crte024" />
		<result column="CRTE025" property="crte025" />
		<result column="CRTE026" property="crte026" />
		<result column="CRTE027" property="crte027" />
		<result column="CRTE028" property="crte028" />
		<result column="CRTE029" property="crte029" />
		<result column="CRTE030" property="crte030" />
		<result column="CRTE031" property="crte031" />
		<result column="CRTE032" property="crte032" />
		<result column="CRTE033" property="crte033" />
		<result column="CRTE034" property="crte034" />
		<result column="CRTE035" property="crte035" />
		<result column="CRTE036" property="crte036" />
		<result column="CRTE037" property="crte037" />
		<result column="CRTE038" property="crte038" />
		<result column="CRTE039" property="crte039" />
		<result column="CRTE040" property="crte040" />
		<result column="CRTE041" property="crte041" />
		<result column="CRTE042" property="crte042" />
		<result column="CRTE043" property="crte043" />
		<result column="CRTE044" property="crte044" />
	</resultMap>
	<select id="findByPage" parameterType="com.huarui.common.Req" resultType="HashMap">
	select
	 a.crte001,a.crte002,a.crte003,a.crte004,a.crte005,a.crte006,a.crte007,a.crte008,a.crte009,a.crte010,
	 a.crte011,a.crte012,a.crte013,a.crte014,a.crte015,a.crte016,a.crte017,a.crte018,a.crte019,a.crte020,
	 a.crte021,a.crte022,a.crte023,a.crte024,a.crte025,a.crte026,a.crte027,a.crte028,a.crte029,a.crte030,
	 a.crte031,a.crte032,a.crte033,a.crte034,a.crte035,a.crte036,a.crte037,a.crte038,a.crte039,a.crte040,
	 a.crte041,a.crte042,a.crte043,a.crte044,a.crte045,a.crte046,a.crte047,a.crte048,
	 to_char(a.crte042,'YYYY-MM-DD HH24:MI') as crte042n,
	 decode(a.crte044,0,'线上',1,'面授',2,'混合') crte044n,
	 b.user005
	from hr_t_credentialTemplate a
	left join hrsw_t_user b
		on b.user001=a.crte043
	<where>
		<if test="parameterMap.crte002!=null and parameterMap.crte002!=''">
			and a.crte002 like concat(concat('%',#{parameterMap.crte002}),'%')
		</if>
		<if test="parameterMap.crte044!=null and parameterMap.crte044!=''">
			and a.crte044=#{parameterMap.crte044}
		</if>
		<if test="parameterMap.crte045!=null and parameterMap.crte045!=''">
			and a.crte045 like concat(concat('%',#{parameterMap.crte045}),'%')
		</if>
	</where>
	order by crte042 desc
	</select>
</mapper>
