<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.HruxTConfirmationsendingMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.HruxTConfirmationsending">
		<result column="COSE001" property="cose001" />
		<result column="COSE002" property="cose002" />
		<result column="COSE003" property="cose003" />
	</resultMap>

</mapper>
