<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.NewscatalogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.HrswTNewscatalog">
		<id column="NCAT001" property="ncat001" />
		<result column="NCAT002" property="ncat002" />
		<result column="NCAT003" property="ncat003" />
		<result column="NCAT004" property="ncat004" />
		<result column="NCAT005" property="ncat005" />
		<result column="NCAT006" property="ncat006" />
		<result column="NCAT007" property="ncat007" />
		<result column="NCAT008" property="ncat008" />
		<result column="NCAT009" property="ncat009" />
		<result column="NCAT010" property="ncat010" />
		<result column="NCAT011" property="ncat011" />
		<result column="NCAT012" property="ncat012" />
		<result column="NCAT013" property="ncat013" />
		<result column="NCAT014" property="ncat014" />
		<result column="NCAT015" property="ncat015" />
		<result column="NCAT016" property="ncat016" />
		<result column="NCAT017" property="ncat017" />
		<result column="NCAT018" property="ncat018" />
	</resultMap>
	
	
	<!-- 查询新闻栏目列表 -->
	<select id="findList" resultType="com.huarui.product2020.entity.HrswTNewscatalog">
		 SELECT
	        NCAT001,
	        NCAT002,
	        NCAT003,
	        NCAT004,
	        NCAT005,
	        NCAT006,
	        NCAT007,
	        NCAT008,
	        NCAT009,
	        NCAT010,
	        NCAT011,
	        NCAT012,
	        NCAT013,
	        NCAT014,
	        NCAT015,
	        NCAT016,
	        NCAT017,
	        NCAT018
	    FROM  HRSW_T_NEWSCATALOG A 
	    WHERE NCAT003 = 2
		 <![CDATA[  ORDER BY NCAT006 ]]>
	</select>
	
	<!-- 查询新闻栏目列表 -->
	<select id="findSecondList" resultType="com.huarui.product2020.entity.HrswTNewscatalog" parameterType="String">
		 SELECT B.NCAT001,
		        B.NCAT002,
		        B.NCAT003,
		        B.NCAT004,
		        B.NCAT005,
		        B.NCAT006,
		        B.NCAT007,
		        B.NCAT008,
		        B.NCAT009,
		        B.NCAT010,
		        B.NCAT011,
		        B.NCAT012,
		        B.NCAT013,
		        B.NCAT014,
		        B.NCAT015,
		        B.NCAT016,
		        B.NCAT017,
		        B.NCAT018 
	        FROM HRSW_T_NEWSCATALOG A
	   		INNER JOIN HRSW_T_NEWSCATALOG B ON A.NCAT001 = B.NCAT010
		<where>
			<![CDATA[  A.NCAT014 = #{keyword} ]]>
		</where>
		 <![CDATA[  ORDER BY NCAT006 ]]>
	</select>
	
</mapper>
