<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.QuesTQuesarchiveuserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.QuesTQuesarchiveuser">
		<id column="QAUS001" property="qaus001" />
		<result column="QAUS002" property="qaus002" />
		<result column="QAUS003" property="qaus003" />
		<result column="QAUS004" property="qaus004" />
	</resultMap>

</mapper>
