<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.QuesTQuesresultMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.QuesTQuesresult">
		<id column="URES001" property="ures001" />
		<result column="URES002" property="ures002" />
		<result column="URES003" property="ures003" />
		<result column="URES004" property="ures004" />
		<result column="URES005" property="ures005" />
		<result column="URES006" property="ures006" />
		<result column="URES007" property="ures007" />
		<result column="URES008" property="ures008" />
		<result column="URES009" property="ures009" />
		<result column="URES010" property="ures010" />
		<result column="URES011" property="ures011" />
	</resultMap>

</mapper>
