<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.StudyTUserhoursMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.StudyTUserhours">
		<result column="UHOU001" property="uhou001" />
		<result column="UHOU002" property="uhou002" />
		<result column="UHOU003" property="uhou003" />
		<result column="UHOU004" property="uhou004" />
		<result column="UHOU005" property="uhou005" />
		<result column="UHOU006" property="uhou006" />
		<result column="UHOU007" property="uhou007" />
		<result column="UHOU008" property="uhou008" />
		<result column="UHOU009" property="uhou009" />
		<result column="UHOU010" property="uhou010" />
		<result column="UHOU011" property="uhou011" />
	</resultMap>

</mapper>
