<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.StudyTLearnexamMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.StudyTLearnexam">
		<id column="LEEX001" property="leex001" />
		<result column="LEEX002" property="leex002" />
		<result column="LEEX003" property="leex003" />
		<result column="LEEX004" property="leex004" />
		<result column="LEEX005" property="leex005" />
	</resultMap>

</mapper>
