<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.StudyTLearnarchiveuserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.StudyTLearnarchiveuser">
		<result column="STLAU001" property="stlau001" />
		<result column="STLAU002" property="stlau002" />
		<result column="STLAU003" property="stlau003" />
		<result column="STLAU004" property="stlau004" />
	</resultMap>

</mapper>
