<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.StudyTUsermessagereplyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.StudyTUsermessagereply">
		<id column="UMRE001" property="umre001" />
		<result column="UMRE002" property="umre002" />
		<result column="UMRE003" property="umre003" />
		<result column="UMRE004" property="umre004" />
	</resultMap>

</mapper>
