<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.Tbcmdy05Mapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.Tbcmdy05">
		<id column="CMDY0501" property="cmdy0501" />
		<result column="CMDY0502" property="cmdy0502" />
		<result column="CMDY0503" property="cmdy0503" />
		<result column="CMDY0504" property="cmdy0504" />
	</resultMap>

</mapper>
