<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.Tbjhzd04Mapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.Tbjhzd04">
		<id column="JHZD0401" property="jhzd0401" />
		<result column="JHZD0402" property="jhzd0402" />
		<result column="JHZD0403" property="jhzd0403" />
		<result column="JHZD0404" property="jhzd0404" />
	</resultMap>

</mapper>
