<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.Tbjxsj03Mapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.Tbjxsj03">
		<id column="JXSJ0301" property="jxsj0301" />
		<result column="JXSJ0302" property="jxsj0302" />
		<result column="JXSJ0303" property="jxsj0303" />
		<result column="JXSJ0304" property="jxsj0304" />
		<result column="JXSJ0305" property="jxsj0305" />
	</resultMap>

</mapper>
