<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.Tbjxsj06Mapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.Tbjxsj06">
		<id column="JXSJ0601" property="jxsj0601" />
		<result column="JXSJ0602" property="jxsj0602" />
		<result column="JXSJ0603" property="jxsj0603" />
		<result column="JXSJ0604" property="jxsj0604" />
		<result column="JXSJ0605" property="jxsj0605" />
	</resultMap>

</mapper>
