<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.Tbjxsj11Mapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.Tbjxsj11">
		<id column="JXSJ1101" property="jxsj1101" />
		<result column="JXSJ1102" property="jxsj1102" />
		<result column="JXSJ1103" property="jxsj1103" />
		<result column="JXSJ1104" property="jxsj1104" />
		<result column="JXSJ1105" property="jxsj1105" />
		<result column="JXSJ1106" property="jxsj1106" />
	</resultMap>

</mapper>
