<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.Tbkkjh01Mapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.Tbkkjh01">
		<id column="KKJH0101" property="kkjh0101" />
		<result column="KKJH0102" property="kkjh0102" />
		<result column="KKJH0103" property="kkjh0103" />
		<result column="KKJH0104" property="kkjh0104" />
		<result column="KKJH0105" property="kkjh0105" />
		<result column="KKJH0106" property="kkjh0106" />
		<result column="KKJH0107" property="kkjh0107" />
		<result column="KKJH0108" property="kkjh0108" />
		<result column="KKJH0109" property="kkjh0109" />
		<result column="KKJH0110" property="kkjh0110" />
		<result column="KKJH0111" property="kkjh0111" />
		<result column="KKJH0112" property="kkjh0112" />
		<result column="KKJH0113" property="kkjh0113" />
		<result column="KKJH0114" property="kkjh0114" />
		<result column="KKJH0115" property="kkjh0115" />
		<result column="KKJH0116" property="kkjh0116" />
		<result column="KKJH0117" property="kkjh0117" />
	</resultMap>

</mapper>
