<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.Tbpxb08Mapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.Tbpxb08">
		<id column="PXB0801" property="pxb0801" />
		<result column="PXB0802" property="pxb0802" />
		<result column="PXB0803" property="pxb0803" />
		<result column="PXB0804" property="pxb0804" />
	</resultMap>

</mapper>
