<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.Tbxxkgl02Mapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.Tbxxkgl02">
		<id column="XXKGL0201" property="xxkgl0201" />
		<result column="XXKGL0202" property="xxkgl0202" />
		<result column="XXKGL0203" property="xxkgl0203" />
		<result column="XXKGL0204" property="xxkgl0204" />
	</resultMap>

	<select id="findBindCommodity" resultType="HashMap" parameterType="HashMap">
		<![CDATA[ SELECT A.XXKGL0203 AS SELECTID,C.CMDY0302||B.CMDY0603||'（套包）' AS SELECTNAME,2 AS SELECTTYPE
		FROM tbXXKGL02 A
		INNER JOIN tbCMDY06 B ON B.CMDY0601 = A.XXKGL0203
		INNER JOIN tbCMDY03 C ON C.CMDY0301 = B.CMDY0602]]>
		<where>
			<if test="xxkgl0302 != null">
				<![CDATA[ A.XXKGL0202 = #{xxkgl0302} ]]>
			</if>
		</where>
		UNION
		<![CDATA[SELECT A.XXKGL0204 AS SELECTID,D.CMDY0404 AS SELECTNAME,1 AS SELECTTYPE
		FROM tbXXKGL02 A
		INNER JOIN tbCMDY07 C ON C.CMDY0701 = A.XXKGL0204
		LEFT JOIN TBCMDY04 D ON D.CMDY0401 = C.CMDY0703]]>
		<where>
			<if test="xxkgl0302 != null">
				<![CDATA[ A.XXKGL0202 = #{xxkgl0302} ]]>
			</if>
		</where>
	</select>
	
</mapper>
