<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.Tbxxkgl06Mapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.Tbxxkgl06">
		<id column="XXKGL0601" property="xxkgl0601" />
		<result column="XXKGL0602" property="xxkgl0602" />
		<result column="XXKGL0603" property="xxkgl0603" />
	</resultMap>

</mapper>
