<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.product2020.mapper.TeacherMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huarui.product2020.entity.Teacher">
		<id column="TEAC001" property="teac001" />
		<result column="TEAC002" property="teac002" />
		<result column="TEAC003" property="teac003" />
		<result column="TEAC004" property="teac004" />
		<result column="TEAC005" property="teac005" />
		<result column="TEAC006" property="teac006" />
		<result column="TEAC007" property="teac007" />
		<result column="TEAC008" property="teac008" />
		<result column="TEAC009" property="teac009" />
		<result column="TEAC010" property="teac010" />
		<result column="TEAC011" property="teac011" />
		<result column="TEAC012" property="teac012" />
		<result column="TEAC013" property="teac013" />
		<result column="TEAC014" property="teac014" />
		<result column="TEAC015" property="teac015" />
		<result column="TEAC016" property="teac016" />
		<result column="TEAC017" property="teac017" />
		<result column="TEAC018" property="teac018" />
		<result column="TEAC019" property="teac019" />
		<result column="TEAC020" property="teac020" />
		<result column="TEAC021" property="teac021" />
		<result column="TEAC022" property="teac022" />
		<result column="TEAC023" property="teac023" />
		<result column="TEAC024" property="teac024" />
		<result column="TEAC025" property="teac025" />
		<result column="TEAC026" property="teac026" />
		<result column="TEAC027" property="teac027" />
	</resultMap>
	
	
	<select id="findLecturerList" resultType="com.huarui.product2020.entity.Teacher" parameterType="HashMap">
		SELECT
			A.TEAC001,
			A.TEAC002,
			A.TEAC003,
			A.TEAC004,
			A.TEAC005,
			A.TEAC006,
			A.TEAC007,
			A.TEAC008,
			A.TEAC009,
			A.TEAC010,
			A.TEAC011,
			A.TEAC012,
			A.TEAC013,
			A.TEAC014,
			A.TEAC015,
			A.TEAC016,
			A.TEAC017,
			A.TEAC018,
			A.TEAC019,
			A.TEAC020,
			A.TEAC021,
			A.TEAC022,
			A.TEAC023,
			A.TEAC024,
			A.TEAC025,
			A.TEAC026,
			A.TEAC027
		FROM
			HRSW_T_TEACHER A
		<where>
			<!-- 状态为正常 -->
			<![CDATA[  AND A.TEAC027 = 0 ]]> 
			<!-- 讲师名称模糊匹配 -->
			<if test="teac002 != null">
                 <![CDATA[ AND A.TEAC002 LIKE CONCAT(CONCAT('%',#{teac002}), '%') ]]> 
            </if>
            <!-- 讲师性别 -->
            <if test="teac003 != null">
                 <![CDATA[ AND A.TEAC003 = #{teac003} ]]> 
            </if>
            <!-- 邮箱模糊匹配 -->
			<if test="teac018 != null">
                 <![CDATA[ AND A.TEAC018 LIKE CONCAT(CONCAT('%',#{teac018}), '%') ]]> 
            </if>
            <!-- 身份证模糊匹配 -->
			<if test="teac023 != null">
                 <![CDATA[ AND A.TEAC023 LIKE CONCAT(CONCAT('%',#{teac023}), '%') ]]> 
            </if>
            <!-- 联系电话模糊匹配 -->
			<if test="teac024 != null">
                 <![CDATA[ AND A.TEAC024 LIKE CONCAT(CONCAT('%',#{teac024}), '%') ]]> 
            </if>
		</where>
		<choose>
		    <when test="sortExpression != null">
		      <![CDATA[ ORDER BY ${sortExpression} ]]>
		    </when>
		    <otherwise>
		      <![CDATA[ ORDER BY A.TEAC022 DESC ]]>
		    </otherwise>
		</choose>
	</select>
	

</mapper>
